config ATLAS7_HSI2S
	tristate "atlas7 high speed i2s module"
	depends on ARCH_ATLAS7
	default y
	select REGMAP_MMIO
	---help---
	  Support for atlas7 high speed i2s(HS-I2S) module. The HS-I2S only
	  exist on the Atlas7DA, HS-I2S support up to 75M Hz clock and it
	  support 2 RX lines. There are 2 HS-I2S controller on Atlas7.
	  Say Y if you connect a device to HS-I2S port.

