menuconfig VIDEO_SIRFSOC
	tristate "SiRF Soc Video Subsystem"
        depends on VIDEO_DEV && ARCH_SIRF
	default y
	help
		SiRF Soc V4L2 Video Subsystem support

if VIDEO_SIRFSOC

config VIDEO_SIRFSOC_CVD
    tristate "SIRFSOC Composite Video Decoder driver"
	depends on ARCH_SIRF
	default y
	help
	  This is a sub device driver for the SiRFSOC Video Input Port 0.
	  CVBS Decoder (CVD) IP solution contains a single-channel
	  dual-input CVBS Decoder.
	  Only one of the two video inputs can be processed at any time.

config VIDEO_SIRFSOC_VIP
    tristate "SIRFSOC Video Input Port driver"
	depends on VIDEO_DEV && ARCH_SIRF && VIDEO_V4L2 && HAS_DMA && I2C
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_CONTIG
	select VIDEOBUF2_CORE
	select VIDEOBUF2_DMA_CONTIG
	default y
	help
	  This is a v4l2 driver for the SiRFSOC Video Input Port

menuconfig VIDEO_SIRFSOC_REARVIEW
    tristate "SIRFSOC Rearview driver"
    depends on ARCH_SIRF && SIRF_VDSS && VIDEO_SIRFSOC_CVD && VIDEO_SIRFSOC_VIP && INPUT
    select KEYBOARD_GPIO
	default y
    help
	  SiRF Soc Hardware Rearview solution driver, when it is trigger,
	  CVBS camera -> CVD -> VIP0 -> DRAM -> VPP0 -> LCD0 path will run and
	  controlled by hardware automatically.
	  Please note, its priority is higher than DVD playback(using CVD/VIP0 HW)
	  and video playback(using VPP0 HW) cases.

menuconfig REARVIEW_AUXILIARY
	bool "Rearview auxiliary line support"
	depends on VIDEO_SIRFSOC_REARVIEW
	default n
	help
	  Say Y here if you want kernel to draw distance auxiliary line on the top
	  of rearview picture.

config AUXILIARY_TRANSPARENT_VALUE
	int "Percent value of rearview auxiliary line transparent"
	range 0 100
	default 50
	depends on REARVIEW_AUXILIARY
	help
	  0 means no transparent totally, we can't see the background of lines.
	  50 means 50 percent transparent, we can see both background and lines.
	  100 means 100 percent transparent, we can't see the auxiliary lines.

choice
	prompt "Rearview De-Interlace Methods"
	default MEAVE
	help
	  This option indicates the HW de-interlace method for interlaced
	  video sequence.

config FIELD_DROP
	bool "Intra-field spatial interpolation"
	help
	  Intra-field spatial interpolation(Field drop) is the process of
	  completely discarding one of the fields in an interlaced video
	  data. Either all the odd or all the even fields are discarded.
	  Using the fields that remain, interpolation is performed between
	  the lines to generate an entire noninterlaced frame.

config 3TAP_MEDIAN
	bool "3-tap Median Interpolation method"
	help
	  3-tap Median Interpolation(inter-field spatial interpolation) is
	  the process of reserving one of the fields in an interlaced video
	  data while interpolate the other field data with 3-tap median algorithm.
	  Either all the odd fields are reserved and the even fields are
	  interpolated or the even fields are reserved and all the odd fields
	  are interpolated. The interpolated value is generated by choose median
	  value from the vertically adjacent three pixel values.

config MEAVE
	bool "Weave De-Interlace method"
	help
	  Weave(merging) is the process of combining the odd
	  and even fields of an interlaced video image to generate
	  the entire non-interlaced frame.
	  You can select this method to enable de-interlacer.

config VERTICAL_MEDIAN
	bool "Vertical Median Ranking Interpolation method"
	help
	  Vertical Median Ranking is also the inter-field interpolation algorithm,
	  the interpolated value is adaptive according to the median ranking
	  result. Assume X is the pixel to be interpolated.
	  You can select this method to enable de-interlacer.

endchoice

menuconfig VIDEO_SIRFSOC_VOUT
    tristate "SIRFSOC Video Output driver"
	depends on VIDEO_DEV && ARCH_SIRF && SIRF_VDSS && VIDEO_V4L2 && HAS_DMA && I2C
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_CONTIG
	select VIDEOBUF2_CORE
	select VIDEOBUF2_DMA_CONTIG
	default y
	help
	  This is a v4l2 driver for the SiRFSOC Video Output

endif

