config SND_SOC_SIRF
	tristate "SoC Audio for the SiRF SoC chips"
	depends on ARCH_SIRF || COMPILE_TEST
	select SND_SOC_GENERIC_DMAENGINE_PCM

config SND_SOC_SIRF_ATLAS7_IACC
	tristate "SoC Audio for SiRF atlas7 internal audio codec interface"
	depends on SND_SOC_SIRF
	select REGMAP_MMIO
	help
	  This driver support the internal audio codec interface of Atlas7 SoC.
	  As oupput feature, support 4 channels, maximum 192Khz sample
	  rate, 24bits sample precision.
	  As input feature, support 2 channels, maximum 96Khz sample
	  rate, 24bits sample precision.

config SND_SOC_SIRF_AUDIO_PORT
	select REGMAP_MMIO
	tristate

config SND_SOC_SIRF_AUDIO
	tristate "SoC Audio support for SiRF internal audio codec"
	depends on SND_SOC_SIRF
	select SND_SOC_SIRF_AUDIO_CODEC
	select SND_SOC_SIRF_AUDIO_PORT

config SND_SOC_SIRF_I2S
	tristate "SoC Audio support for SiRF I2S interface"
	depends on SND_SOC_SIRF
	select REGMAP_MMIO
	tristate

config SND_SOC_SIRF_ATLAS7_CS42XX8
	tristate "SoC Audio support for CSRatlas7 board using CS42XX8 codec"
	depends on SND_SOC_SIRF && I2C
	select SND_SOC_CS42XX8_I2C
	help
	  Say Y or M here if you want to add support for SoC audio on CSRatlas7
	  boards using external codec.
	  - CPU DAI: I2S
	  - Codec: CS42XX8

config SND_SOC_SIRF_USP
	tristate "SoC Audio (I2S protocol) for SiRF SoC USP interface"
	depends on SND_SOC_SIRF
	select REGMAP_MMIO
	tristate

# SiRF kalimba DSP support
source "sound/soc/sirf/kalimba/Kconfig"
source "sound/soc/sirf/kalimba-m3/Kconfig"
